body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

h1 {
  text-align: center;
}

.filters {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.filters label {
  font-weight: bold;
}

.chart-container {
    flex: 1;
    min-width: 60%;
    height: 400px;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
.stats {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

.stat-card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  flex: 1 1 250px;
  margin: 0.5rem;
}

.stat-card h2 {
  margin: 0.5rem 0;
}


  
  .ground {
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #eee 10px, transparent 10px) repeat-x;
    background-size: 20px 100%;
    position: relative;
  }
  
  .walker {
    width: 40px;
    height: 80px;
    background: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMHR4NHl1emN0Z2gza2w1ZjAxazRoYWJ6NWU5NjZmeGU5b2Z5eGF1aCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xUOrvW5lZpuaNJgpVu/giphy.gif') no-repeat center/contain;
    position: absolute;
    top: 10px;
    left: 0;
    animation: walk-loop linear infinite;
  }
  
  @keyframes walk-loop {
    from { left: -40px; }
    to { left: 100%; }
  }

  
  .visual-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  
  .animation-container {
    width: 150px;
    height: 100px;
    overflow: hidden;
    flex-shrink: 0;
    margin-top: 3rem;
    height: 100px;
    overflow: hidden;
  }
  
  
  